# Copy this file to ".env" and put your real values there.
# .env is ignored by Git, this example file is committed so others know which keys are needed.

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=kasper
DB_USER=kasper_app
DB_PASS='Hassan123@@'